
# Python cache
__pycache__/
*.py[cod]

# Virtual environments
.kernelmind/
.env/
.env*/

# Local repos downloaded by KernelMind
repos/

# Temporary / debug outputs
*.log
*.tmp

# Editor swap files
*.swp
*.swo

# Chroma DB database
.chromadb/
